.project {
  max-width: 370px;
  background-color: var(--project-card-bg);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.project__img {
  height: 278px;
  border-radius: 10px;
}
.project__title {
  padding: 15px 20px 25px;

  font-size: 24px;
  color: var(--project-card-text-color);
}
