.nav {
  padding: 20px 0;
  border-bottom: 1px solid var(--nav-border);
  background-color: var(--changed-black);
  color: white;
  letter-spacing: normal;
}

.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.logo {
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  color: white;
}
.logo span {
  font-weight: 700;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 40px;
  row-gap: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

.nav-list__link {
  color: white;
}
.nav-list__link--active {
  position: relative;
}
.nav-list__link--active::after {
  display: block;
  content: "";
  position: absolute;

  height: 3px;
  width: 100%;
  background-color: var(--purple-blue);
}
